@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /*
        Color palette
        https://coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c-6564db
    */
    --bright-pink: #ef476f; /* Conflit */
    --sunglow: #ffd166; /* Economie */
    --emerald: #06d6a0; /* Sport et Loisirs */
    --slate-blue: #6564db; /* Politique */
    --midnight-green: #073b4c; /* Frise */
    --blue-ncs: #118ab2; /* Art/Architecture */
    --orange: #ff964f; /* Personnalités */
}

* {
    font-family: 'Lato', sans-serif;
}

html {
    background-attachment: fixed;
    background-size:cover;
}

body {
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

#main-container {
    width: 1100px;
    display: grid;
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    margin-bottom: 50px;
}

#color-index {
    width: fit-content;
    padding: 25px;
    background-color: #073b4c88;
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 0 15px 0 0;
    position: fixed; 
    bottom: 0; 
}

#timeline {
	position: relative;
    font-size: 28px;
    background-color: var(--midnight-green);
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.event {
	cursor: pointer;
	user-select: none;
}

.right-arrow, .left-arrow {
	width: 35px;
}

#left-events, #right-events {
	position: relative;
}

.full-div {
    border-radius: 10px;
}